Checks: >
    -*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    modernize-*,
    bugprone-*,
    portability-*,
    readability-*,
    misc-*,
    clang-diagnostic-*,
    -modernize-use-nodiscard,
    -cppcoreguidelines-special-member-functions,
    -modernize-avoid-c-arrays,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-avoid-magic-numbers
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: file
WarningsAsErrors: ''
