# Ignore gedit backup files #
*.ino~
*.cpp~
*.h~
*.properties~
*.sh~

# Ignore build folders
build

# Ignore static code analysis files and scripts
staticAnalysis.sh
static-analysis-report/

# Ignore files created during CI
arduino*.xz
coverage-reports
coverage.info

# Ignore vscode configuration
.vscode
